# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.DS_Store

vendor/

*.manifest
*.syso

/bin
/tools
/tests/coverage.*
/docker-compose.override.yml
/versioninfo.json

.vscode/
.idea/
debug

